{% extends 'base.html.twig' %}

{% block body %}


    <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
        <div class="container">
        <div class="row">
            <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-6 align-self-center">
                <div class="left-content header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                    <div class="row">
                    <div class="col-lg-12">
                        <h2>Création &amp; réferencement de site web</h2>
                    </div>
                    <div class="col-lg-12">
                        <div class="main-green-button scroll-to-section">
                        <a href="#contact">Parlez nous de votre projet</a>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
                <div class="col-lg-6">
                <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                    <img src="{{ asset('template/assets/images/banner-right-image.png') }}" alt="">
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>

    <div id="features" class="features section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                <div class="features-content">
                    <div class="row">
                    <div class="col-lg-3">
                        <div class="features-item first-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
                        <div class="first-number number">
                            <h6>01</h6>
                        </div>
                        <div class="icon"></div>
                        <h4>Objectifs</h4>
                        <div class="line-dec"></div>
                        <p>Vous ecouter, echanger avec vous afin de récoltés des informations utiles au cadrage de votre projet</p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="features-item second-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                        <div class="second-number number">
                            <h6>02</h6>
                        </div>
                        <div class="icon"></div>
                        <h4>Stratégie</h4>
                        <div class="line-dec"></div>
                        <p>Mise en place d'une stratégie adapté aux besoins</p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="features-item first-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
                        <div class="third-number number">
                            <h6>03</h6>
                        </div>
                        <div class="icon"></div>
                        <h4>développement</h4>
                        <div class="line-dec"></div>
                        <p>Développement back-end et front-end de votre site</p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="features-item second-feature last-features-item wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
                        <div class="fourth-number number">
                            <h6>04</h6>
                        </div>
                        <div class="icon"></div>
                        <h4>Mise en ligne</h4>
                        <div class="line-dec"></div>
                        <p>Publication de votre site</p>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

  <div id="about" class="about-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="left-image wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
            <img src="{{ asset('template/assets/images/about-left-image.png') }}" alt="">
          </div>
        </div>
        <div class="col-lg-6 align-self-center wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
          <div class="section-heading">
            <h6>À propos de nous</h6>
            <h2>Accompagnement de <em>A à Z</em> dans tout le processus de mise en place de votre <span>site</span></h2>
          </div>
          <div class="row">
            <div class="col-lg-4 col-sm-4">
              <div class="about-item">
                <h4>25+</h4>
                <h6>Projets délivrés</h6>
              </div>
            </div>
            <div class="col-lg-4 col-sm-4">
              <div class="about-item">
                <h4>14+</h4>
                <h6>Clients satisfaits</h6>
              </div>
            </div>
          </div>
          <p><a rel="nofollow" href="https://templatemo.com/tm-563-seo-dream" target="_parent">Moon-Factory</a> est votre partenaire idéal dans la transition digitale de votre entreprise. Du simple site vitrine au sites plus complexes, nous avons pour mission de traduire vos besoins métiers en une solution technique.<br><br>Lorsqu’une personne entend parler de votre activité, son premier réflexe est de taper votre nom sur internet.
          Votre site web devient votre carte de visite, le reflet de votre identité et votre levier essentiel dans l’accroissement de votre activité.</p>
          <div class="main-green-button"><a href="#">Découvrez nos services</a></div>
        </div>
      </div>
    </div>
  </div>

  <div id="services" class="our-services section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading wow bounceIn" data-wow-duration="1s" data-wow-delay="0.2s">
            <h6>Nos services</h6>
            <h2>Découvrez ce que nous pouvons vous <span>offrir</span></h2>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4">
          <div class="service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.3s">
            <div class="row">
              <div class="col-lg-4">
                <div class="icon">
                  <img src="{{ asset('template/assets/images/service-icon-01.png') }}" alt="">
                </div>
              </div>
              <div class="col-lg-8">
                <div class="right-content">
                  <h4>Développement de site web</h4>
                  <p>Maîtrise des principaux languages web avec un code maintenables.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.4s">
            <div class="row">
              <div class="col-lg-4">
                <div class="icon">
                  <img src="{{ asset('template/assets/images/service-icon-02.png') }}" alt="">
                </div>
              </div>
              <div class="col-lg-8">
                <div class="right-content">
                  <h4>Réferencement naturel</h4>
                  <p>Mise en place d'un plan robuste, axé sur les segments spécifiques à l'optimisaton</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.5s">
            <div class="row">
              <div class="col-lg-4">
                <div class="icon">
                  <img src="{{ asset('template/assets/images/service-icon-03.png') }}" alt="">
                </div>
              </div>
              <div class="col-lg-8">
                <div class="right-content">
                  <h4>UI/UX design</h4>
                  <p>Experience utilisateur, fluidité de navigation, érgonomie</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.6s">
            <div class="row">
              <div class="col-lg-4">
                <div class="icon">
                  <img src="{{ asset('template/assets/images/service-icon-03.png') }}" alt="">
                </div>
              </div>
              <div class="col-lg-8">
                <div class="right-content">
                  <h4>Identité de marque</h4>
                  <p>Création de logo, charte graphique, supports pour les réseaux sociaux</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="service-item wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.7s">
            <div class="row">
              <div class="col-lg-4">
                <div class="icon">
                  <img src="{{ asset('template/assets/images/service-icon-01.png') }}" alt="">
                </div>
              </div>
              <div class="col-lg-8">
                <div class="right-content">
                  <h4>Emailing</h4>
                  <p>Mise en place des campagnes de mail marketing</p>
                </div>
              </div>
            </div>
          </div>
        </div>
  <div id="contact" class="contact-us section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.25s">
         <form id="contact" action="https://formsubmit.io/send/moon.factory.paris@gmail.com" method="POST">
            {# <input name="_redirect" type="hidden" id="name" value="https://your website url"> #}

            <div class="row">
              <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                  <h6>Contactez nous</h6>
                </div>
              </div>
              <div class="col-lg-9">
                <div class="row">
                  <div class="col-lg-6">
                    <fieldset>
                      <input type="name" name="name" id="name" placeholder="Nom" autocomplete="on" required>
                    </fieldset>
                  </div>
                  <div class="col-lg-6">
                    <fieldset>
                      <input type="surname" name="surname" id="surname" placeholder="Prénom" autocomplete="on" required>
                    </fieldset>
                  </div>
                  <div class="col-lg-6">
                    <fieldset>
                      <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Email" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-6">
                    <fieldset>
                      <input type="subject" name="subject" id="subject" placeholder="Objet" autocomplete="on">
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <textarea name="message" type="text" class="form-control" id="message" placeholder="Message" required=""></textarea>  
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <input name="_formsubmit_id" type="text" style="display:none">
                      <button type="submit" id="form-submit" class="main-button ">Envoyer</button>
                    </fieldset>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="contact-info">
                  <ul>
                    <li>
                      <div class="icon">
                        <img src="{{ asset('template/assets/images/contact-icon-01.png') }}" alt="email icon">
                      </div>
                      <a href="#">moon.factory.paris@gmail.com</a>
                    </li>
                    <li>
                      <div class="icon">
                        <img src="{{ asset('template/assets/images/contact-icon-02.png') }}" alt="phone">
                      </div>
                      <a href="#">+33 7 67 80 69 19</a>
                    </li>
                    <li>
                      <div class="icon">
                          <i style="color:#0dcaf0;" class="fab fa-instagram fa-2x"></i>
                      </div>
                      <a href="#">moon.factory</a>
                    </li>
                    <li>
                      <div class="icon">
                        <img src="{{ asset('template/assets/images/contact-icon-03.png') }}" alt="location">
                      </div>
                      <a href="#">Paris, France</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}